{{ range .Params.Imgs }}
    {{ $imgInfo := getJSON (printf "%s%s" . "?x-oss-process=image/info")}}
    {{ $oWidth := int $imgInfo.ImageWidth.value }}
    {{ $oHeight := int $imgInfo.ImageHeight.value }}
    {{ $maxWidth := 1500 }}

    {{ $w := $oWidth }}
    {{ $h := $oHeight }}

    <!-- 如果原始宽度大于 $maxWidth，则需要控制大小 -->
    {{if gt $oWidth $maxWidth}}
        <!-- 宽度缩放到 $maxWidth -->
        {{$w = $maxWidth}}
        <!-- 高度根据宽度 $maxWidth 进行等比缩放 -->
        {{$h = div (mul $maxWidth $oHeight) $oWidth}}
    {{end}}
   
    {{ $isVertical := lt (div $w $h) 1 }}
    {{if $isVertical}}
    <div class="relative w-100 bg-white pa4" style="grid-row:span 2">
    {{else}}
    <div class="relative w-100 bg-white pa4" style="grid-row:span 1">
    {{end}}
        <div class="img-item  oh" style="background-image:url({{.}}?x-oss-process=image/resize,w_400,m_lfit);background-size:cover;background-position:center center;">
            <a href="{{.}}?x-oss-process=image/resize,w_{{$maxWidth}},m_lfit" 
                class="img-target"
                data-pswp-width="{{$w}}" 
                data-pswp-height="{{$h}}" 
                target="_blank"
                >
            </a>
        </div>
    </div>
{{ end }}
