<div class="mb3 pa4 gallery-covers {{ $.Param "text_color" | default "mid-gray" }} overflow-hidden">
  <a href="{{ .RelPermalink }}" class="link black dim">
    <div class="nested-links f5 lh-copy nested-copy-line-height cover-box">
      {{ range .Params.Covers }}
        <div class="cover-item" style="background-image:url({{.}}?x-oss-process=image/resize,w_350,m_lfit);background-size:cover;background-position:center center;"></div>
      {{end}}
    </div>
    <div class="cover-infos">
      <h1 class="f3 near-black">
          {{ .Title }}
      </h1>
      <div>
        <div class="cover-summary">{{ .Summary  }}</div>
        <div class="cover-desn">{{ .Description }}</div>
      </div>
    </div>
  </a>
</div>
